:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background-color: rgba(186, 104, 200, 0.225);
  background-image: url("../public/s4f-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-attachment: fixed;
  background-color: #fff;
  -webkit-background-size: calc(100vw) calc(100vh);
  -moz-background-size: calc(100vw) calc(100vh);
  -o-background-size: calc(100vw) calc(100vh);
  background-size: calc(100vw) calc(100vh);
  box-shadow: inset 100% rgba(64, 55, 64, 0.786);
}
