:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  color: rgb(var(--foreground-rgb));
  background-color: rgba(186, 104, 200, 0.225);
  background-image: url("../public/s4f-bg.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 3000px rgba(92, 74, 93, 0.569);
}
