@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: rgba(186, 104, 200, 0.225);
  background: url("/s4f-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  /* box-shadow: inset 0 0 0 3000px rgba(64, 55, 64, 0.786); */
  box-shadow: inset 0 0 0 3000px rgba(12, 8, 67,  0.786);
}

#dapp-modal {
  color: rgb(37, 37, 37);
}

.gymTab {
  background-image: linear-gradient(rgba(42, 1, 116,  1), rgba(100, 15, 225,  1));
  width: 250px;
  border-radius: 19px!important;
  border: 4px solid #48EFEE;
}

.gymTitle {
  font-size: 42px!important;
  font-weight: bold!important;
  background: -webkit-linear-gradient(#b380ff, #48efefa8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.gymSubTitle {
  font-size: 22px!important;
  font-weight: bold!important;
  background: -webkit-linear-gradient(#b380ff, #48efefa8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.gymStatus {
  border: 3px solid #DC389C;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #dc389d81;
  background-color: #210453;
  margin: 0 auto!important;
  margin-top: 10px;
}

.dapp-modal-dialog-content {
  background-color: #091332!important;
}

.dapp-modal-dialog-content-body {
  padding: 15%!important;
}

.dappLoginButton {
  background: -webkit-linear-gradient(#6100EC, #5201C8)!important;
  margin: 0px!important;
  box-shadow: 0px 0px 5px 1px #48EFEE!important;
  border-radius: 15px!important;
  border: 4px solid #48EFEE!important;
  font-size: large!important;
  text-decoration: none!important;
  margin-top: 10%!important;
  padding-top: 15px!important;
  padding-bottom: 15px!important;
  text-align: left!important;
}

.statsWell {
  background: -webkit-linear-gradient(#210050, #6A10ED);
  border-radius: 10px;
  border: 4px solid #48EFEE;
  box-shadow: 0px 0px 30px 5px #48EFEE;
}

.breakLine {
  height: 3px;
  background: -webkit-linear-gradient(#b380ff, #48efefa8);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.footer {
  border-top: 1px solid;
  border-image: linear-gradient(to right,#b380ff,#48efefa8) 1 0 0 0;
}

.nftAccordion {
  background: none!important;
}

.nftImage {
  border-radius: 10px;
  border: 3px solid #48efefa8;
}

.nftImageList {
  margin-left: 15px;
}

.nftAccordionImage {
  margin: 0 auto!important;
  width: 90px;
  height: 90px;
}

.nftCardImage {
  margin: 0 auto!important;
}

.nftCardButton {
  margin: 0 auto!important;
  width: 80%;
  background: -webkit-linear-gradient(#6100EC, #5201C8)!important;
  box-shadow: 0px 0px 5px 1px #48EFEE!important;
  border-radius: 10px!important;
  border: 2px solid #48EFEE!important;
}

.nftCardButtonDisabled {
  margin: 0 auto!important;
  width: 80%;
  background: -webkit-linear-gradient(#6100EC, #5201C8)!important;
  border-radius: 10px!important;
}

.actionButton {
  margin: 0 auto !important;
  width: 80%;
  box-shadow: 0px 0px 5px 1px #48EFEE !important;
  border-radius: 25px !important;
  border: 2px solid #48EFEE !important;
  padding: 7px; /* Add the units (px) for padding values */
  color: #ffffff; /* Set the text color to white */
}

.actionButtonDisabled {
  margin: 0 auto !important;
  width: 80%;
  /* box-shadow: 0px 0px 5px 1px #48EFEE !important; */
  border-radius: 25px !important;
  /* border: 2px solid #48EFEE !important; */
  padding: 7px; /* Add the units (px) for padding values */
  color: #ffffff; /* Set the text color to white */
}

.disabledButton {
  opacity: 0;
}

.nftCard {
  background: rgba(26, 30, 248, 0.2)!important;
  padding: 25px 5px 5px 5px;
}

.vAlign {
  display: flex;
  align-items: center;
}

.blurFilter {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blue(10px);
}

.warningBox {
  margin: 0 auto !important;
  width: 80%;
  box-shadow: 0px 0px 5px 1px rgba(72, 239, 238, 0.8) !important;
  border-radius: 25px !important;
  border: 2px solid rgba(72, 239, 238, 0.8) !important;
  padding: 7px;
  background-color: #091332; /* Dark grey background with alpha (opacity) value of 0.9 */
  color: #ffffff; /* Set the text color to white */
}

.buyButton {
  margin: 0 auto!important;
  width: 80%;
  background: -webkit-linear-gradient(#6100EC, #5201C8)!important;
  box-shadow: 0px 0px 5px 1px #48EFEE!important;
  border-radius: 15px!important;
  border: 2px solid #48EFEE!important;
  color: #ffffff;
  text-transform: none; /* Prevent text transformation to uppercase */
}